.page-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.15em;
    padding: 16px;
}

.page-content p {
    text-align: justify;
}

.page-content a {
    text-decoration: none;
    color: dodgerblue;
}

.ajuntament-logo {
    width: 300px;
}