.detailed-leaflet {
    flex-grow: 1;
    display: flex;
}

.leaflet-map {
    height: 100% !important;
    margin: 0 !important;
    width: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.description {
    flex-grow: 1;
    padding: 16px;
    width: 50%;
    text-align: justify;
}

.description h1 {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.description .image {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 50%;
}

.description .image img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .description .image {
        float: none;
        width: 100%;
        margin-left: unset;
        margin-right: unset;
    }
}

@media only screen and (max-width: 1160px){
    .title.desktop {
        display: none;
    }
    .title.mobile {
        text-align: center;
    }
    .detailed-leaflet {
        flex-direction: column;
    }

    .leaflet-map {
        width: 100%;
        height: 40lvh !important;
    }
    .description {
        width: 100%;
    }
}

@media only screen and (min-width: 1160px){
    .title.mobile {
        display: none;
    }
}