@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --header-height: 80px;
    --background-color: #ffffff;
    --header-spacing: 14px;

    --sidebar-width: min(100vw, 512px);

    --sidebar-priority: 5000;
    --overlay-priority: 4000;
    --header-priority: 1500;

    --link-color: #1e90ff;
}

body {
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

.map {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    gap: var(--header-spacing);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    z-index: var(--header-priority);
    position: fixed;
    width: 100%;
    background-color: var(--background-color);
}

.map {
    padding-top: var(--header-height) !important;
    height: calc(100% - var(--header-height)) !important;
}

.header a {
    color: black;
    text-decoration: none;
}

.header>button span,
.side-panel-header>button span {
    margin-left: var(--header-spacing);
    font-size: 34px;
    font-weight: bold;
}
.header>button,
.side-panel-header>button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.side-panel-content a {
    text-decoration: none;
}

.side-panel {
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    background-color: var(--background-color);
    left: calc(0px - var(--sidebar-width));
    z-index: var(--sidebar-priority);
    display: flex;
    flex-direction: column;
    transition: left 0.3s ease;
}
.side-panel.open {
    left: 0;
}

.side-panel-header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.side-panel-content {
    flex-grow: 1;
    overflow-y: auto;
    margin: 20px;
}

.side-panel-content button {
    color: #545454;
    cursor: pointer;
    padding: 18px;
    display: block;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0.625rem;
    margin-bottom: 10px;
}

.collapsible {
    margin-bottom: 5px !important;
}

.active, .side-panel-content button:hover {
    background-color: #e9eff5;
}

.content {
    padding-left: 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content button {
    margin-bottom: 5px;
}

.place-link {
    text-decoration: none;
    color: #545454;
}

.collapsible:after {
    content: '\002B';
    color: #545454;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--overlay-priority);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

@media only screen and (max-width: 1160px){
    .header .title {
        flex-grow: 1;
        text-align: center;
    }
}

@media only screen and (max-width: 590px){
    .header .title.long {
        display: none;
    }
}
@media only screen and (min-width: 590px){
    .header .title.short {
        display: none;
    }
}