<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/details.css">
</head>
<body>
{% include header.html %}
<div class="map">
    <h1 class="title mobile">{{ page.title }}</h1>
    <div class="detailed-leaflet">
        {% assign total_lat = 0 %}
        {% assign total_lon = 0 %}
        {% assign total_points = 0 %}

        {% for group in page.coordinates %}
            {% assign group_lat = 0 %}
            {% assign group_lon = 0 %}
            {% assign group_size = 0 %}

            {% for point in group %}
                {% for coord in point[1] %}
                    {% assign group_lat = group_lat | plus: coord[1] %}
                    {% assign group_lon = group_lon | plus: coord[0] %}
                    {% assign group_size = group_size | plus: 1 %}
                {% endfor %}
            {% endfor %}

            {% assign group_avg_lat = group_lat | divided_by: group_size %}
            {% assign group_avg_lon = group_lon | divided_by: group_size %}

            {% assign total_lat = total_lat | plus: group_avg_lat %}
            {% assign total_lon = total_lon | plus: group_avg_lon %}
            {% assign total_points = total_points | plus: 1 %}
        {% endfor %}

        {% assign center_lat = total_lat | divided_by: total_points %}
        {% assign center_lon = total_lon | divided_by: total_points %}

        {% capture geojson %}
            {% for group in page.coordinates %}
                [
                {% for key in group %}
                    {% for coord in key[1] %}
                        [{{ coord[0] }}, {{ coord[1] }}],
                    {% endfor %}
                {% endfor %}
                ],
            {% endfor %}
        {% endcapture %}
        {% leaflet_map { "center": [{{ center_lat }},{{ center_lon }}] } %}
        {% leaflet_geojson {
                "type": "Feature",
                "geometry": {
                "type": "Polygon",
                "coordinates": [{{ geojson }}] } } %}
        {% endleaflet_map %}

        <div class="description">
            <h1 class="title desktop">{{ page.title }}</h1>
            {{ page.content }}
        </div>
    </div>
</div>
</body>
</html>