<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
</head>
<body>
{% assign firstCoordinate = page.coordinates | first %}
{% leaflet_map { "center" : [{{ firstCoordinate[1] }}, {{ firstCoordinate[0] }}], "zoom" : 17, "providerBasemap": "GeoserveiTopo" } %}
    {% leaflet_geojson {
        "type": "Feature",
        "properties": { "pane": "{{ page.collection }}" },
        "geometry": {
            "type": "Polygon",
            "coordinates": [{{ page.coordinates }}] } } %}
{% endleaflet_map %}
</body>
</html>